.additional-catalog__container {
  width: 280px;
}

.additional-catalog__title {
  font-family: "oswald", sans-serif, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional-catalog__title-ordinary {
  font-family: "oswald", sans-serif, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-special_dark-grey-2);
}

.additional-catalog__product-item {
  font-size: 14px;
  line-height: 14px;
  color: var(--color-special_dark-grey);
}

.additional-catalog__product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.additional-catalog__product-list {
  width: 280px;
}
