.catalog__container {
  max-width: 280px;
}

.catalog__title {
  font-family: "oswald", sans-serif, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalog__item {
  height: 190px;
}

.catalog__item:not(:last-child) {
  margin-bottom: 60px;
}

.catalog__product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
}

.catalog__item-title {
  font-family: "oswald", sans-serif, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color-special_dark-grey-2);
  height: 20px;
  margin: 0;
}

.catalog__product-item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-special_dark-grey);
}

.catalog__item-description {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-special_dark-grey);
}

@media (min-width: @tablet-width) {
  .catalog__container {
    max-width: 708px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 141px 77px;
  }

  .catalog__item {
    height: 430px;
    margin: 0;
  }

  .catalog__item:not(:last-child) {
    background-color: var(--color-basic_grey);
  }

  .catalog__item:last-child {
    border: 2px solid var(--color-basic_grey);
  }

  .catalog__product {
    width: 252px;
    height: 157px;
  }

  .catalog__item-title {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__product-item {
    font-size: 16px;
    line-height: 16px;
  }

  .catalog__item-button {
    width: 248px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__container {
    max-width: 1220px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    gap: 143px 80px;
  }

  .catalog__item {
    height: 431px;
  }

  .catalog__product {
    width: 169px;
    height: 156px;
  }

  .catalog__item-button {
    width: 168px;
    height: 40px;
  }
}
