:root {
  --color-basic_green: #68B738;
  --color-basic_green-2: #5EAA2F;
  --color-basic_grey: #F2F2F2;
  --color-special_grey: #EBEBEB;
  --color-special_grey-2: #CDCDCD;
  --color-special_grey-3: #666666;
  --color-special_grey-4: #EAEAEA;
  --color-special_dark-grey: #444444;
  --color-special_dark-grey-2: #222222;
  --color-basic-black-2: #111111;
  --color-basic-black: #000000;
  --color-basic-white: #ffffff;
  --color-status_error: #FF8282;
}
