.main-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 280px;
}

.main-header__logo-img {
  padding-top: 10px;
  margin-right: 57px;
}

.main-header__logo-text {
  margin-right: 65px;
  padding-top: 24px;
}
