.main-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 280px;
}

.main-header__logo-img {
  padding-top: 10px;
  margin-right: 57px;
}

.main-header__logo-text {
  margin-right: 65px;
  padding-top: 24px;
}

.main-navigation {
  font-family: oswald, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-basic-black);
  position: relative;
}

.main-navigation__toggle {
  background-image: url("../img/header/Logo_button.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
  background-color: var(--color-basic-white);
  border: none;
  cursor: pointer;
  margin-top: 24px;
}

.main-navigation__container {
  position: absolute;
  left: -260px;
  display: none;
}

.main-navigation__list {
  width: 280px;
  text-align: center;
  justify-content: center;
  padding-left: 0;
  margin: 0;
}

.main-navigation__list-item {
  width: 100%;
  margin-top: 23px;
  margin-bottom: 23px;
}

.main-navigation__link {
  color: var(--color-basic-black);
  text-decoration: none;
  padding-top: 23px;
  padding-bottom: 23px;
}
