.owner-data {
  padding: 0;
  border: none;
}

.owner-data__title {
  font-family: "oswald", sans-serif, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.owner-data__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.owner-data__label {
  font-family: "oswald", sans-serif, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.owner-data__input {
  height: 46px;
  border: 1px solid var(--color-special_grey-2);
}

.owner-data__label-letter::after {
  content: url("../img/owner-data/mail.svg");
}

.owner-data__label-phone::after {
  content: url("../img/owner-data/phone.svg");
}

@media (min-width: @tablet-width) {
  .owner-data__input--mail {
    width: 551px;
  }

  .owner-data__input--phone {
    width: 535px;
  }
}

@media (min-width: @desktop-width) {
  .owner-data__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .owner-data__input--mail {
    width: 486px;
  }

  .owner-data__input--phone {
    width: 472px;
  }
}
