.socials {
  max-width: 320px;
}

.socials__container {
  max-width: 280px;
}

.social__website:not(:last-child) {
  margin-right: 24px;
}

@media (min-width: @tablet-width) {
  .socials {
    min-width: 132px;
  }

  .socials__container {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .socials {
    min-width: 132px;
  }
}
