.statistics {
  background-color: var(--color-special_grey-4);
  width: 320px;
}

.statistics__container {
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
}

.statistics__title {
  font-family: "oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.statistics__description {
  font-size: 14px;
  line-height: 18px;
  color: var(--color-special_dark-grey);
}

.statistics__item-number {
  font-family: "oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: var(--color-basic-black);
}

.statistics__item-description {
  font-size: 12px;
  line-height: 100%;
  color: var(--color-special_dark-grey);
  margin: 0;
}

.statistics_sum-text {
  font-family: "oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
